#map {
  height: 500px;
  padding: 0;
  margin: 0;
}

.legend_info {
  font: 20px Arial, Helvetica, sans-serif;
  color: black;
  background: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  list-style-type: none;
  border: 1px solid #999;

}

.legend_info li span{
  display: inline-block;
  width: 15px;
  height: 15px;
  color: black;
  margin-left: 5px;
  margin-right: -15px;

}

.legend_info p {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


.select-right {
  text-align: right;
}
.select-right option {
  text-align: left;
}

#sample-metadata {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.filtered-data {
  width: 10%;
}

.bank-data {
  table-layout: fixed; /* Set the table layout to fixed */
  width: 100%; /* Set the width of the table to 100% */
}

.bank-data td {
  width: 50%; /* Set the width of the td elements to 50% */
}

#definitions table {
  border-collapse: collapse; /* Collapse borders between cells */
 /*  width: 100%;  Set the width of the table to 100% */
}

#definitions th, #definitions td {
  padding: 10px; /* Add 10px of padding to all cells */
}

#definitions th {
  background-color: gray; /* Set the background color of the table headers to gray */
  color: white; /* Set the text color of the table headers to white */
}